// main SASS file 
//sass --watch sass:css --style expanded or sass --watch sass:css

//**************NOTES**********************
// light blue  #C7F7FF
// med blue    #89C0C9
// dark blue   #3a5E63
// light brown #C9A689
// dark brown  #7C593C
// light grey  #d4d4d4
// dark grey   #222
//**************DEFAULTS*******************
@import 'variables'; 
@import 'mixins';

*{
    padding:0;
    margin: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;

    &:after,
    &:before{
        -webkit-box-sizing: inherit;
        box-sizing: inherit;
    }
}
html{
    font-size: 16px;
    font-family: $font-sans-serif; // default for whole page 
    line-height: 1.6;
}
h1, h2, h3, h4{
    font-family: $font-serif; // serif for the headings
}
ul{
    list-style: none;
}
//************************************
//                SPECIAL
//************************************

.clearfix:after{
    display:table;
    @extend .row;
    content: "";
}

//************************************
//                LAYOUT
//************************************
.bg-header, header {
    position: relative;
}

.bg-header{
//    background-color: $color-white;
    background-color: $color-lightBlue;
    color: $color-darkGrey;
    border-bottom:1rem solid $color-medBlue;
    border-top:1rem solid $color-darkBlue;
//    position: relative;

    &:before,&:after{
        content:"";
        position:absolute;
        bottom:-1rem;
        width:30%;
        height:1rem;
        background-color: $color-darkBlue;
    }
    &:before{
        left:0;
    }
    &:after{
        right:0;
    }
}

.bg-focal{
    background-color: $color-lightBrown;
    color: $color-darkBrown;
}
.bg-content1{
    background-color: $color-white;
    color: $color-darkGrey;
}
.bg-content2{
    background-color: $color-lightBlue;
    color: $color-darkBlue;
}
.bg-footer{
    background-color: $color-white;
    color: $color-lightGrey;
}

header{
//    position: relative;
    @extend .focal;
    nav{
        &>ul li{
            width:100%;
            float: none;
        }
        width: 100%;
        padding:2rem 0;
        @extend .row;
    
        &>ul>li>a{
            display:block;
            text-align: center;
            text-decoration: none;
            color: $color-darkGrey;    
            font-size: 1.414rem;
            letter-spacing: 0.25rem;
            border:1px solid $color-lightGrey; 
            border-bottom: none;
            padding:1.0rem 2rem;
            line-height: 1;
            background-color: $color-white;
        
            &:hover{
                font-weight: 700;
                color: $color-darkBrown;
            }
        }
    }

    //***********************************************
    //                CONTENT
    //***********************************************
    h1{
        width: 100%;
        padding: 0 2rem;
        color: $color-darkBrown;
        letter-spacing: 0.1rem;
    
        i.fa-lg{
            display:block;
            width: 25%;
            float:left;
            font-size: 7rem;
            line-height: 12.7936rem;
            color: $color-lightBrown;
        
            & ~ span{
                float: right;
                width: 75%;
                font-size: 3.998rem;
                //
                //2 lines of 3.998 * 1.6 = 12.7936
                //
                padding-left: 1rem;
                text-align: right;
            }
        }
    }
}
.focal{
    width: 400px; // default 
    margin: 0 auto;
}
.content1, .content2, footer{
    padding: 2rem 0;
}

.row{
    clear: both;
}
.col-2{
    width:50%;
    float:left;
    padding: 0 0 2rem 0;
    border-left:1px solid $color-darkBlue;
    margin: 0 0 2rem 0;
}

.col-2:first-child{
    border-left: 0;
}

//***********************************************
//                NAVIGATION
//***********************************************

.focal h2, .content1 h3, .content2 h3, .content2 h4{
    font-size: 1.999rem;
}
.content2 p, .content2 li, .content1 p, footer h4{
    font-size: 1.414rem;
}
.author, .content1 h3{
    padding: 0.2rem 2rem 2rem;
}

.focal {
    h2{
        //font-size: 1.999rem;
        line-height: 1.2;
        padding: 2rem 2rem 1rem 2rem;
    }
}
.author, footer p{
        font-size: 1rem;
        //padding: 0.2rem 2rem 2rem;
}
.content1{ 
    h3{
        //font-size:1.999rem;
        //padding: 0.2rem 2rem 2rem;
    
        i{
            vertical-align:middle;
            padding-right: 2rem;
        }
    }
    p{
        //font-size: 1.414rem;
        padding: 0.5rem 2rem 2rem;
    }
}
//.content2 li, footer h4, footer p{
//    padding: 0.5rem 2rem;
//}
.content2 {
    h3{
        //font-size: 1.999rem;
        padding: 1rem 2rem 0.5rem;
    }
    h4{
        //font-size: 1.999rem;
        padding: 1rem 2rem 0rem;
    }
    p{
        //font-size: 1.414rem;
        padding: 0.5rem 2rem 1rem;
    }
    li{
       padding: 0.5rem 2rem; 
    }

}
//***********************************************
//                FOOTER
//***********************************************
footer{
    h4{
        //font-size: 1.414rem;
        padding: 0.5rem 2rem;
        color: $color-darkBrown;
    }
    p{
        //font-size: 1rem;
        padding: 0.5rem 2rem;
        //color: $color-darkGrey;
    }
    p, .fa-circle{
        color: $color-darkGrey;
    }

    h4[lang]{
        display:none;
    }
    h4[lang=de]{
       display:block;
    }
}

// must be last item!!
@import 'queries'; 